 # Build artifacts
*.obj
*.exe
*.dll
*.lib
*.pdb

# Folders
Debug/
Release/
x64/
x86/
.vs/
ipch/
# Temporary files
*.tmp
*.log
*.bak

# Project files
*.sln
*.vcxproj
*.vcproj
*.vcxitems
*.vcxitems.filters

# Other files
Thumbs.db
Desktop.ini
.DS_Store
Icon\r